.img-align1 {
	position:absolute;
    left:350px;
	height: 80px;
	float: left;
}

.searchForm{
	position:absolute;
	left:600px;
	display: inline-block;
	background-color: #ece8e6;
	padding: 1px;
	margin-top: 20px;
	margin-left: 5%;
}

.searchForm input {
	margin: 0;
	border: 0;
	font-size: 19px;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	border-left: 1px solid #dedede;
	outline-width: 0;
	width: 320px;
	height: 40px;
	padding: 1px;
	font-weight: normal;
	vertical-align: middle;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.searchForm button {
	margin: 0;
	border: 0;
	outline-width: 0;
	width: 74px;
	height: 44px;
	margin-left: -3px;
	padding: 0;
	vertical-align: middle;
	/* background-image: url(../image/search_n.png); */
}
.searchForm button:hover {
	/* background-image: url(../image/search_s.png); */
}

.in{
	position:absolute;
    border-radius:400px;
    left:1300px;
	top:30px;
}

.category{
	position:absolute;
	top: 100px;
    color: #FFFFFF ;
    background-color: rgb(214,94,100);
    padding:0.5%;
    left:330px;
    width:1100px;
}

.category_first{
    margin-left:5%;
    background-color: rgb(214,94,100);
    color:white;
    border:none;
}
.category button{
    margin-right:7%;
    background-color: rgb(214,94,100);
    color:white;
    border:none;
}

.bottom_pic{
    margin-left:15%;
    background-color:white;
}

.location{
    margin-top: 10px;
    margin-left:7%;
    size:2;
    color: rgb(0, 162, 255); 
}

.personal{
    position: absolute;
	left:350px; 
	top:170px;
    width: 700px;
    height: 330px;
    background-color: white;
    padding:1%;
    border-radius: 10px 10px 10px 10px; 
    border: 0.5px solid #ccc;
}


.personal_book{
    position: absolute;
    top:35px;
    left:55px;
}

.personal_text{
    position: absolute;
    top:40px;
    left:265px;
}
 .personal_text ul{
    list-style:none;
 }

.personal_book_name{
    color: red;
    font-weight: bold;
}

.personal_prev{
    width: 400px;
}



.comment{
    position: absolute;
	left:350px;  
	top:580px;
    width: 700px;
    height: 500px;
  
    background-color:rgba(238, 238, 238, 0.918);
    padding:1%;
    border-radius: 10px 10px 10px 10px; 
    border: 0.5px solid #eee;
}

.comment_pic{
    margin-left: -50px;
    border-radius:200px;
}

.comment ul{
    list-style:none; 
    color:#ccc;
}

.comment li{
    margin-top: -30px;
}

.comment div{
    color:black;
    background-color:none;
    width:600px;
    height:50px;
    border-top:2px solid #ccc
}

.comment input{
    width: 600px;
    height:100px;
    border:1px solid #888;
    margin-top: 5px;
}

.comment button{
	margin-left: 550px;
	border-radius: 10px 10px 10px 10px;
	width: 60px;
	height: 30px;
	background: #999
}
.comment button:hover{
    margin-left: 550px;
    color: #ccc;
}
.nums{
	color: #999;
    margin-bottom: 25px;
}

.nums span{
	margin-right: 20px;
}

.nums i{
	font-size: 16px;
	color: #333;
	font-family: Arial,Helvetica,sans-serif;
}

.btn-group_button1{
    background-color: rgb(214,94,100);
    color:#ffff;
	width: 150px;
	height: 34px;
    line-height: 34px;
    margin-right:30px;
}

.btn-group_button2{
    background-color:white;
	width: 100px;
	height: 34px;
    line-height: 34px;
    margin-right:30px;
    border: 0.5px solid rgb(214,94,100);
}

.btn-group_button3{  
	border:none;
	background:white;
}

.btn-group_button3 a{
    color: gray;
}

.btn-group_button3 a:hover{
    color: black;
}

.btn-group_button1:hover{
    background-color: rgb(219, 129, 25);
}

.btn-group_button2:hover{
    border: 2px solid rgb(219, 129, 25);
}

/*人气榜单样式配置*/
.rank_menu {
	padding: 22px;
	border: 1px solid rgb(214,94,100);
    border-top: 2px solid #F60;
	width: 250px;
	font-family: "Microsoft YaHei";
	/*人气榜单位置控制*/
    position: absolute;
	left:1125px;
	top:580px;
}

.rank_menu a:hover {
	color: #e84848
}

.borderE6 {
	border: 1px solid #e6e6e6
}

.rank_side {
	padding: 7px 22px 15px;
	color: #333;
	font-size: 14px
}

.rank_side a {
	color: #333;
	text-decoration: none
}

.rank_a_crown:hover,.rank_side a:hover {
	color: #e84848
}

.rank_side>h3 {
	line-height: 35px;
	font-size: 14px;
	font-weight: 700
}

.rank_side>p {
	line-height: 30px;
	font-size: 14px;
	/* background: url(../image/rankdot.png) no-repeat left center; */
	padding-left: 9px
}

.rank_side .rank_active,.rank_side .rank_active>a {
	color: #a11313
}

.rank_side .rank_active {
	font-weight: 700
}

.borderB_e6 {
	border-bottom: 1px solid #e6e6e6;
	line-height: 0;
	font-size: 0
}

/*作者信息*/
.AuthorInfo {
	position: absolute;
	top:170px;
	background: rgba(238, 238, 238, 0.918);
	padding: 22px;
	border: 1px solid #ffe3d1;
    border-top: 2px solid #F60;
    width:250px;
	position: absolute;
    left:1125px;
}

.AuthorInfo .author {
	height: 62px;
	line-height: 2
}

.AuthorInfo .author img {
	width: 62px;
	height: 62px;
	margin-right: 10px;
	float: left;
	border-radius: 50%
}

.AuthorInfo .author .sign {
	background: #53a200;
	color: #fff;
	font-size: 12px;
	padding: 0 2px;
	margin-right: 5px
}

.AuthorInfo .author .name {
	font-size: 14px;
    color:  rgb(214,94,100);
}

.AuthorInfo .modle {
	margin-top: 15px
}

.AuthorInfo .modle dt {
	height: 30px
}

.AuthorInfo .modle dt label {
	border-bottom: 1px solid rgb(160, 158, 158);
	height: 10px;
	display: block;
	text-align: center
}

.AuthorInfo .modle dt label span {
	background: rgba(238, 238, 238, 0.918);
	padding: 0 10px;
	font-size: 14px;
	font-weight: 700
}

.AuthorInfo .modle table.data {
	background: #ffe3d1
}

.AuthorInfo .modle table.data td {
	padding: 0;
	background: #fff;
	width: 33.3%
}

.AuthorInfo .modle table.data td a {
    text-align: center;
	color:  rgb(214,94,100);
	padding: 10px 0;
	display: block
}

.AuthorInfo .modle table.data td a:hover {
	background: #ffe3d1
}

.AuthorInfo .modle table.data td span {
	font-size: 18px;
	display: block
}

