
.nav-tabs {
	border-bottom: 1px solid #ddd;
}



.info {
	margin-top: -280px;
	margin-left: 550px;
	height: 200px;
	padding-bottom: 0;
}

.info h2 {
	font-size: 19px;
	color: #555;
}

#topbar {
	margin-top: 30px;
	margin-left: 450px;
	background-color: white;
	width: 900px;
	height: 250px;
}

.info button {
	margin-top: 50px;
	margin-left: 5px;
}

.info ul {
	list-style: none;
	margin-top: -10px;
}

.info li {
	color: #555;
}

.read {
	margin-top: 100px;
	margin-left: 300PX;
	width: 1000px;
}

.read h2 {
	margin-left: 120px;
	margin-bottom: 30px;
	font-size: 19px;
}

.read ul{
	list-style-type: none;
}

.read ul li{
	margin-left: 70px;
	width: 80px;
	height: 150px;
	float: left;
}

#uploading {
	margin-top: 300px;
}

.upload {
	margin-top: 100px;
	margin-left: 520PX;
	width: 1000px;
}

.upload h2 {
	margin-left: 25px;

	margin-bottom: 30px;
	font-size: 19px;
}

.upload ul{
	list-style-type: noun;
}

.upload ul li{
	margin-left: 70px;
	width: 80px;
	height: 150px;
	float: left;
}

.bgi {
	margin-top: 20px;
	width: 855px;
	overflow: hidden;
}

.btnl{
	background-color: #fdfaf3;
	font:"微软雅黑";
	border:none;
	font-size:19px;
}

.btnb{
	height:40px;
	padding: 0 20px;
	border-radius: 40px;
	background-color: #fdfaf3;
	box-shadow: 0 10px 30px rgba(255, 104, 104, 0.836);
	font:"微软雅黑";
	font-weight:bold;
	font-size:19px;
	
}
.avatar {
	position: absolute;
	float: left;
	width: 155px;
	height: 155px;
	overflow: hidden;
	margin-left: 620px;
	margin-top: -210px;
	border: solid white 5px;
}

#image-div {
	margin-top: 50px;
	height: 300px;
}