<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
</head>
<body bgcolor="#fdfaf3">
    <!--引用base界面-->
    {% include "base.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/commentpage.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style222.css' %}"> 
    <!-- 左侧连接 -->
    <div class="app-canvas">
            <div class="menubox" tabindex="0">
              <div class="menubox__label">
                <span class="menubox__label-text">用户中心</span>
              </div>
              <div class="menubox__contents">
                <ul class="menubox__options">
                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <a href="/users/edit_info/" class="menubox__option-label">修改个人信息</a>
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>

                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <a href="/users/my_collects/" class="menubox__option-label">我的书架</a>
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>
                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <a href="/users/recent_read/" class="menubox__option-label">浏览记录</a>
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>
                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <a href="/users/personal_comments/" class="menubox__option-label">个人评论</a>
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>
                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <input type="button" class="menubox__option-label1" value="上传书籍" onclick=OpenWindow('/users/home/add',400,500) />
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>
                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <a href="/users/logout/" class="menubox__option-label">登出账户</a>
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        
    
    <script "text/javescript">
        function OpenWindow(url,w,h)
        {
            var left=Math.round((window.screen.availWidth-w)/2);
            var top=Math.round((window.screen.availHeight-100-h)/2);
            var MyWin=window.open(url, "", "height="+h+", width="+w+",top="+top+",left="+left+", toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
        }
        
    </script>     

   <!--评论区-->
    <div class="commentpage">
        <dl>
            <dt>|</dt>
            <dd>我的评论：</dd>
        </dl>
        <hr>
        <ul>  
            {% for comment in comment_li %}
            <img class="commentpage_pic" src="{% static comment.userName.image %}" alt="" width="30" height="30">
            <li>
            {{ comment.userName.user_name }}:
            <div>
                {{ comment.content }}
                <br>
                <a href="/comments/delcom/{{ comment.commentId }}"><button style="width:100px; height:30px;">删除评论</button></a> 
            </div>
            评论日期：{{ comment.create_time }}
            </li>
            {% empty %}
            <br>
            <br>
            <br>
            <li>暂无评论，快去评论吧！</li>
            {% endfor %} 
        </ul>
        
            <!-- 分页导航 -->
            <p>
                {% if comment_li.has_previous %}
                <a href="?page={{ comment_li.previous_page_number }}">上一页</a>
                {% endif %}
                当前：{{ comment_li.number }} / {{ comment_li.paginator.num_pages }}
                {% if comment_li.has_next %}
                <a href="?page={{ comment_li.next_page_number }}">下一页</a>
                {% endif %}
            </p>           
            <br>
    </div> 
