<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<!-- <link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/search.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">

	{% include "base.html" %}
	
	<div class="list-group" style="float: left; width: 200px; margin-left: 330px; margin-right: 20px; height: 600px; margin-top: 120px;">
		<span href="#" disabled class="list-group-item list-group-item-action active" style="border: none; background-color: rgb(214,94,100);">用户中心</span>
		<a href="/users/edit_info/" class="list-group-item list-group-item-action">修改个人信息</a>
		<a href="/users/my_collects/" class="list-group-item list-group-item-action">我的收藏</a>
		<a href="/users/recent_read/" class="list-group-item list-group-item-action">浏览记录</a>
		<a href="/users/personal_comments/" class="list-group-item list-group-item-action">个人评论</a>
		<a href="/books/add/" class="list-group-item list-group-item-action">上传书籍</a>
		<a href="/users/logout/" class="list-group-item list-group-item-action">登出账户</a>
	</div>

	<form action="/users/edit_info/" method="POST" enctype="multipart/form-data" style="margin-top: 120px; margin-left: 600px; width: 70%;">
		{% csrf_token %}
		
		<h2 style="
		margin-bottom: 20px;
		font-size: 18px;
		font-family: SimSun;
		width: 780px;
		padding-bottom: 6px;
		border-bottom: 1px solid rgb(214, 94, 100);
		font-weight: normal;">用户中心 > 修改信息</h2>

			<img id="display_img" width="200px" height="200px" src="{% static user.image %}" alt=""><br><br>
			<button type="button" class="btn btn-info btn-fill btn-wd" style="position:relative" id="btn" name="btn">
				<input id="upload_img" style="height: 36px; width: 102px; opacity:0; position:absolute;left:0px;top:0px" 
					type="file" accept="img/jpeg img/png" name="headpic" >上传头像
			</button>
			
			<br><br>用户名：
			<input type="text" name="user_name" value="{{ user.user_name }}"><br><br>

			<label for="pwd1">原密码(改密码时输入）：</label><input type='password' name="pwd0" id="pwd0"
				minlength="6"><br><br>
			<label for="pwd1">新密码 ：</label><input type='password' name="pwd1" id="pwd1"
			onchange="pwd_vertify()" placeholder="不少于6位" minlength="6"><br><br>
			<label for="pwd2">密码确认：</label><input type='password' name="pwd2" id="pwd2"
				onchange="pwd_vertify()" placeholder="保持两次一致"><br><br>
			
			性&nbsp;&nbsp;&nbsp;别：
			<input id="male" type="radio" name="gender" value="male">男
			<input id="female" type="radio" name="gender" value="female" style="margin-left: 20px;">女<br>

			<br>修改个性签名：<br>
			<textarea name="signature" maxlength="30" rows="2" style="height: 80px; width: 450px;">{{user.signature}}</textarea>
			<br><br>

			<input type="submit" class="save" onmouseover="this.style.opacity=0.7;"
			onmouseout="this.style.opacity=1;" style="background-color: #bf2c24; color: white; border: none; height: 36px; width: 102px;" value="保存"></button>
	</form>
	{% if msg %}
	<p>
		{{ msg }}
	</p>
	{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script>
$('document').ready(function(){
	if('{{ user.gender }}'=='male'){
		$("#male").attr("checked",'checked');
	}
	else{
		$("#female").attr("checked",'checked');
	}
})

// 离线版本的头像回显
var input = document.getElementById("upload_img");
var img = document.getElementById("display_img");
input.addEventListener('change', updateImageDisplay);
function updateImageDisplay() {
	var img_file = input.files[0];
	img.src=window.URL.createObjectURL(img_file);
}
function pwd_vertify(){
	var pwd1=document.getElementById('pwd1');
	var pwd2=document.getElementById('pwd2');
	if(pwd1.value===pwd2.value){
		pwd2.setCustomValidity("");
	}
	else{
		pwd2.setCustomValidity("The second password is not the same as the first one");
	}
}
</script>
<style>
	#pwd2:invalid {
		border: 1px solid red;
	}
</style>
</body>
</html>