<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edgDe">
        <title>Document</title>
        {% load static %}	
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/home_fuck_problems.css' %}"> -->

        <!--核心样式-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style222.css' %}"> 
    </head>

<body>
    <!--引用base界面-->
    {% include "base.html" %}
    <!--核心样式-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style222.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seventeen.css' %}">
    
    <div class="app-canvas">
            <div class="menubox" tabindex="0">
              <div class="menubox__label">
                <span class="menubox__label-text">用户中心</span>
              </div>
              <div class="menubox__contents">
                <ul class="menubox__options">
                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <a href="/users/edit_info/" class="menubox__option-label">修改个人信息</a>
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>

                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <a href="/users/my_collects/" class="menubox__option-label">我的收藏</a>
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>
                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <a href="/users/recent_read/" class="menubox__option-label">浏览记录</a>
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>
                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <a href="/users/personal_comments/" class="menubox__option-label">个人评论</a>
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>
                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <input type="button" class="menubox__option-label1" value="上传书籍" onclick=OpenWindow('/users/home/add',400,500) />
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>
                  <li class="menubox__option">
                    <label class="menubox__option-toggle">
                      <input type="checkbox">
                      <a href="/users/logout/" class="menubox__option-label">登出账户</a>
                      <span class="menubox__option-toggle-check"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        
    
    <script "text/javescript">
        function OpenWindow(url,w,h)
        {
            var left=Math.round((window.screen.availWidth-w)/2);
            var top=Math.round((window.screen.availHeight-100-h)/2);
            var MyWin=window.open(url, "", "height="+h+", width="+w+",top="+top+",left="+left+", toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
        }
    </script>     


    <div class="avatar">
        <img width="150px" src="{% static headpic_url %}" alt="">
    </div>

    <div class="info">
        <h2>基本信息</h2>
        <div class="topbar">
            <img class="bgi" src="{% static 'image/home-bg.jpg' %}" alt="">
            <ul>
                <button type="button" class="btnb">用户名 :</button>&nbsp;
                <button type="button" class="btnl">{{ user.user_name }}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btnb">书友号 :</button>&nbsp;
                <button type="button" class="btnl">{{ user.user_id }}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btnb">收藏量 :</button>&nbsp;
                <button type="button" class="btnl">{{ collect_number}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btnb">评论量 :</button>&nbsp;
                <button type="button" class="btnl">{{ comment_number }}</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>
        </div>
    </div>

<div class="main"> 
        <div class="content"> 
            <div class="fl QUIEND">
			    <!--最近浏览-->
			    <div class="box">
                    <h2 class="b-tit"><span class="con">最近浏览</span><a class="more" href="#" target="_blank">查看全部>></a></h2>
                        <div class="b-con">
                            <div class="booklist">
                                {% for book in recent_read_book_li|slice:"0:5" %}
                                    <a href="/books/{{ book.book_id }}" target="_blank"><img src="{% static book.image_path %}" /><p>{{ book.title }}</p></a>
                                {% empty %}
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;暂无记录</p>
                                {% endfor %}
                            </div>
                        </div>
                </div>
                <!--最近收藏-->
                <div class="box">
                    <h2 class="b-tit"><span class="con">最近收藏</span><a class="more" href="#" target="_blank">查看全部>></a></h2>
                        <div class="b-con">
                            <div class="booklist">
                                {% for book in collect_book_li|slice:"0:5" %}
                                    <a href="/books/{{ book.book_id }}" target="_blank"><img src="{% static book.image_path %}" /><p>{{ book.title }}</p></a>
                                {% empty %}
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;暂无收藏</p>
                                {% endfor %}
                            </div>
                            </div>
                </div>
            </div>
        </div> 
</div> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>
</html>