<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>个人中心</h1>
    <ol>
        <li>
            <a href='/books/index/'>首页</a>
        </li>
    </ol>
    <ul>
        <li>
            <a href='/users/recent_read/'>最近浏览</a>
        </li>
        <li>
            <a href='/users/edit_info/'>编辑个人信息</a>
        </li>
        <li>
            <a href='/users/personal_comments/'>查看个人评论</a>
        </li>
    </ul>
    <p>用户信息（未写）</p>
</body>
</html>