{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href={% static 'css/login.css' %}>
    <!-- <link rel="stylesheet" type="text/css" href='../static/css/login.css'> -->

    <title>Login</title>
</head>
<body>
    <div class=login>
        <form class="login_form" name="login_form" action="/users/login/" method="POST" onsubmit="return check()" >
            {% csrf_token %}

            <p class="title">
                Blog
            </p>
            <div>
                <input type='text' placeholder="请输入登录账号" name="account" id="acc" value="{{ account }}" 
                oninput="setCustomValidity('')">
            </div>
            <div>
                <input type='password' placeholder="请输入登录密码" name="password" id="pwd" value="{{ password }}"
                oninput="setCustomValidity('')">
            </div>
            <div>
                <input type="checkbox" name="save_pwd">记住我
            </div>
            <div class="bottom">
                <div id="bottom_left">
                    <button class="button" type="submit">马上登录</button>
                </div>
                <div id="bottom_right">
                    <a href="/users/register/">立即注册</a>
                </div>
            </div>
        </form>
        {% if msg %}
        <div class="display_msg">
            {{ msg }}
        </div>
        {% endif %}
    </div>
</body>

<script>
    // function clear_invalid(){
    //     this.setCustomValidity("");
    // }
    function check(){
        var acc = document.getElementById("acc");
        var pwd = document.getElementById("pwd");
        acc.setCustomValidity("");
        pwd.setCustomValidity("");
        var flag=true;
  
        if(acc.value=='' ){
            acc.setCustomValidity("不能为空");
            flag = false;
        }
        if(pwd.value==''){
            pwd.setCustomValidity("不能为空");
            flag = false;
        }
        return flag;
    }
</script>
</html>