<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}"/>

    <title>Detail</title>
</head>
<script>
    $('#document').ready(function(){
        $('#ajax').click(function(){
            book_id = $('#book_id').val();
            content = $('#content').val();
            // alert(book_id);
            $.ajax({
                async: true,
                url: '/comments/addcom/',
                type: 'post',
                headers: {"X-CSRFToken":$.cookie('csrftoken')},
                data:{
                    'book_id':book_id,
                    'content':content
                },
                success:function(data){
                    if(data == 'False'){
                        if(window.confirm("前往登录？")){
                            window.location.href = "/users/login/";
                        }
                    }else{
                        // console.log(data);
                        comm_obj = JSON.parse(data);
                        comment_li = comm_obj.comment_li;
                        // console.log(comment_li[0].image_path);
                        // console.log(comment_li[0].user_name);
                        // console.log(comment_li[0].content);
                        // console.log(comment_li[0].date);
                        // alert('con')
                        var text = "";
                        for(var i=0; i<comment_li.length; i++){
                            text +='<img class="commentpage_pic" src="/static/'+ comment_li[i].image_path+ '" alt="" width="30" height="30">'+ '<li>'+comment_li[i].user_name + ':<div>'+ comment_li[i].content +'</div>评论日期：' + comment_li[i].date + '</li>'
                        }
                        $('#ajaxchange').html(text);
                        $('#content').val('');
                    }

                }
            });
        });
    });
</script>
<body>

<!--引用base界面-->
{% include "base.html" %}
    <!--白色嵌入-->
    <div action="" class="personal">
        <!--书封面-->
        <div class="personal_book">
            <a><img src="{% static book.image_path %}" alt="" width="200" height="300"></a>
        </div>

        <!--书介绍-->
        <div class="personal_text">
          <ul>
            <li class="personal_book_name">
            <a href="  "> <font size="5">{{ book.title }}</font></a>
            </li>
             <li class="nums">
                <br>
                作者：  {{ book.author }}
             </li>
             <li class="nums">
                <!--字数 浏览 评论-->
                <span>总收藏 <i>{{ book.collection_number }}</i> </span> <span>总浏览 <i>{{ book.view_number }}</i> </span> 
             </li>
             <li class="personal_prev">
                <br>
                简介:{{ book.description }}
             </li>
             <br>
             <!--开始阅读-->
             <div class="btn-group">
                <button class="btn-group_button1" ><a  href="/books/chapters/{{book.title}}"><font color="white">开始阅读</font></a></button>


                {% if not is_collected %}
                <!-- <button id="collect"  onclick="collect('{{ book.book_id }}');"><font color="pink"></font>加入书架</font></button> -->
                <button class="btn-group_button2" id="collect"  onclick="collect('{{ book.book_id }}');"><font color="pink">加入书架</font></button>

                <!-- <button id="collect" class="collect" onclick="collect('{{ book.book_id }}');">收藏</button> -->
                {% else %}
                <button class="btn-group_button2" disabled style="color:rgb(236, 230, 230); background-color: rgb(236, 230, 230)"><font color="pink">加入书架</font></button>
                <!-- <button disabled style="color:black; background-color: gray">收藏</button> -->
                {% endif %}


                <!-- <button class="btn-group_button2" ><a  href=""><font color="pink">加入书架</font></a></button> -->
               
                &nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'image/3.jpg' %}" alt="" width="20" height="20">
                <!-- <button class="btn-group_button3" id="donwload" onclick="donwload('{{ book.book_id }}');"><a  href=""><font color="gray" >下载</font></a></button> -->
                <button id="donwload" class="btn-group_button3" onclick="donwload('{{ book.book_id }}');"><a>下载</a></button>
            </div>    
             <!--<button>开始阅读</button>      <input type="radio">喜欢           <button>下载</button>-->
            </ul>
        </div>
    </div>
    <br><br>

    <!--作者信息-->
	<div class="AuthorInfo">
        <div class="author">
                &nbsp;<img src="{% static book.uploader.image %}" alt="" width="50" height="50">
            <span class="sign">上传作者</span>
            <span class="name" >{{book.uploader.user_name}}</span>
            <br>
        </div>

        <dl class="modle">
                <dt>
                    <label><span>作者信息</span></label>
                </dt>
                <dd>
                    <table class="data" cellspacing="1" width="100%">
                        <tbody>
                        <tr>
                            <td>
                                <a>
                                    <span id="hb_total_fold">{{ download_number }}</span>下载
                                </a>
                            </td>
                            <td>
                                <a>
                                    <span id="fansScore">{{ collect_number }}</span>收藏
                                </a>
                            </td>
                            <td>
                                <a>
                                    <span id="topicCount">{{ comment_number }}</span>评论
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>

        <dl class="modle">
            <dt>
                <label><span>作者公告</span></label>
            </dt>
            <dd>
                <p>{{ book.uploader.signature }}</p>                        
            </dd>
        </dl>
    </div>

    <!--评论区-->
    <div class="commentpage">
        <dl>
            <dt>|</dt>
            <dd>书籍评论：</dd>
        </dl>
        <hr>
        <ul id="ajaxchange">  
            {% for comment in comment_li %}
            <img class="commentpage_pic" src="{% static comment.userName.image %}" alt="" width="30" height="30">
            <li>
            {{ comment.userName.user_name }}:
            <div>
                {{ comment.content }}
            </div>
            评论日期：{{ comment.create_time }}
            </li>
            {% empty %}
            <br>
            <li>快来抢沙发吧</li>
            {% endfor %} 
        </ul>
        
        <!-- 分页导航 -->
        <p >
            {% if comment_li.has_previous %}
            <a href="?page={{ comment_li.previous_page_number }}">上一页</a>
            {% endif %}
            当前：{{ comment_li.number }} / {{ comment_li.paginator.num_pages }}
            {% if comment_li.has_next %}
            <a href="?page={{ comment_li.next_page_number }}">下一页</a>
            {% endif %}
        </p>           
        <br>
        <!--提交评论区-->
        <div>
            <font size="3" color="gray" >我要评论:</font>
            <input type="hidden" id="book_id" name="book_id" value="{{ book.book_id }}">
            <textarea id="content" name="content" type="text" placeholder="请在此处输入评论。。。" style="height: 100px;width: 600px;resize: none;"></textarea><br><br>
            <button id="ajax">提交</button>
        </div>
    </div> 
    
    <div class="rank_menu"> 
        <!-- 对应旁边的人气榜单 -->
       <!-- borderE6对应边框 -->
      <div class="borderE6 rank_side"> 
      <h3><span class="rank_active">人气榜单</span></h3> 
       <!-- 对应榜单的那条下划线 -->
      <div class="borderB_e6"></div>
       <h3>分类榜单</h3>
        <p><a href="/books/goto_category/1/create_time">仙侠玄幻</a></p> 
        <p><a href="/books/goto_category/2/create_time">历史纵横</a></p> 
        <p><a href="/books/goto_category/3/create_time">都市言情</a></p> 
      </div> 
     </div>
</body>
<script>
    function collect(id){
        window.location.href = '/collects/collect_add/'+ id
    }
    function donwload(id){
        window.location.href = '/books/download/'+ id
    }
</script>
</html> 