<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
    <h1>首页</h1>
    <ol>
        <li>
            <a href='/users/home/'>用户中心</a>
        </li>
    </ol>
    <a href="/books/add/">去添加书</a>
    <table>
        <tr>
            <th>book_id</th>
            <th>uploader_id</th>
            <th>uploader_user_name</th>
            <th>title</th>
            <th>type_id</th>
            <th>book_type</th>
            <th>tag</th>
            <th>view_number</th>
            <th></th>
        </tr>
        {% for book in book_li %}
        <tr>
            <td>{{ book.book_id }}</td>
            <td>{{ book.uploader.user_id }}</td>
            <td>{{ book.uploader.user_name }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.type_id }}</td>
            <td>BOOKS_TYPE[{{ book_id }}]</td>
            <td>{{ book.tag }}</td>
            <td>{{ book.view_number }}</td>
            <td style="text-align:center;">
                <button class="update" onclick="updateOne('{{ book.book_id }}');">修改</button>
                <button class="delete" onclick="delone('{{ book.book_id }}');">删除</button>
                <button class="detail" onclick="detail('{{ book.book_id }}');">详情</button>
            </td>
        </tr>
        {% empty %}
        <td>
            <p style="text-align: center">暂无书籍</p>
        </td>
        {% endfor %}
    </table>
    <script>
        function delone(id){
            if(window.confirm('是否确认删除？')){
                window.location.href = '/books/delete/' + id;
            }
        }
        function updateOne(id){
            window.location.href = '/books/goupdate/'+ id
        }
        function detail(id){
            window.location.href = '/books/'+ id
        }
    </script>
</body>
</html>