<!DOCTYPE html>
<html>
<head>
{% load static %}    
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>悦读书友</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/ursLogin.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>

<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/ga.js'%}"></script>
<script type="text/javascript" src="{% static 'js/index.bundle.js'%}"></script>
<script type="text/javascript" src="{% static 'js/ursLogin.js'%}"></script>
<script type="text/javascript" src="{% static 'js/lib.js'%}"></script>
<script type="text/javascript" src="{% static 'js/components.js'%}"></script>
<script type="text/javascript" src="{% static 'js/message.js'%}"></script>
</head>
<style type="text/css" id="40855356833"></style>

<body id="page-163-com" >
    <!--引用base界面-->
{% include "base.html" %}
<br><br><br><br><br><br>

<div class="g-bdw">
    <div class="g-bd g-bd-large">
        <div class="options">
            <div class="option active" style="background:url({% static 'books/picture/101.jpg' %});">
              <div class="shadow"></div>
              <div class="label">
                <div class="icon"> <i class="fas fa-walking"></i> </div>
                <div class="info">
                  <div class="main"><a href="/books/149" style="color:white">暗藏杀机</a></div>
                
                </div>
              </div>
            </div>
            <div class="option" style = "background:url({% static 'books/picture/102.jpg' %});">
              <div class="shadow"></div>
              <div class="label">
                <div class="icon"> <i class="fas fa-snowflake"></i> </div>
                <div class="info">
                    <div class="main"><a href="/books/127" style="color:white">特拉福买家俱乐部</a></div>
                 
                </div>
              </div>
            </div>
            <div class="option" style="background:url({% static 'books/picture/103.jpg' %});">
              <div class="shadow"></div>
              <div class="label">
                <div class="icon"> <i class="fas fa-tree"></i> </div>
                <div class="info">
                    <div class="main"><a href="/books/128" style="color:white">宠物天王</a></div>
              
                </div>
              </div>
            </div>
            <div class="option" style="background:url({% static 'books/picture/104.jpg' %});">
              <div class="shadow"></div>
              <div class="label">
                <div class="icon"> <i class="fas fa-tint"></i> </div>
                <div class="info">
                    <div class="main"><a href="/books/129" style="color:white">还看今朝</a></div>
                
                </div>
              </div>
            </div>
            <div class="option" style="background:url({% static 'books/picture/105.jpg' %});">
              <div class="shadow"></div>
              <div class="label">
                <div class="icon"> <i class="fas fa-sun"></i> </div>
                <div class="info">
                    <div class="main"><a href="/books/130" style="color:white">造化之王</a></div>
                
                </div>
              </div>
            </div>
            <div class="option" style="background:url({% static 'books/picture/106.jpg' %});">
              <div class="shadow"></div>
              <div class="label">
                <div class="icon"> <i class="fas fa-sun"></i> </div>
                <div class="info">
                    <div class="main"><a href="/books/148" style="color:white">万古神帝</a></div>
                
                </div>
              </div>
            </div>
          </div>            
        <script type="text/javascript">
        $(".option").click(function () {
            $(".option").removeClass("active");
            $(this).addClass("active");
        });
        </script>     
  
        <hr>

{% for type_book in types_book  %}
    <div class="g-sec">
        <div class="left">
            <!-- 类型名字 -->

            <header><h2>{{type_book.0}}</h2><a class="more" href="/books/goto_category/{{ type_book.1.1.type_id }}/create_time">更多&gt;</a></header>
            <div id="J_Publish" class="m-book-ten">
                <div class="tabs">
                </div>
                <div class="contents">
                    <div class="tab-item">
                        <ul class="book f-cb">
                        {% for book in type_book.1|slice:"0:5"%}
                            <li>
                                    <a href="/books/{{ book.book_id }}" target="_blank" data-model="jptu" data-opration="jpts_img" title="{{book.title}}"><img width=50px src="{% static book.image_path %}" alt="{{book.title}}"></a>
                                    <h3><a href="/books/{{ book.book_id }}" target="_blank" data-model="jptu" data-opration="jpts_txt" title="{{book.title}}">{{book.title}}</a></h3>
                                    <p>{{book.author}}</p>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <br/>
                <header><h2>{{type_book.0}}排行榜</h2></header>
                <div id="J_PubBang" class="m-foldlist">
                        <ul class="">
                                {% for book in type_book.1|slice:"0:6" %}
                                    <li><p class="fold"><a href="/books/{{ book.book_id }}" target="_blank" ><i>{{forloop.counter}}</i>{{book.title}}</a></p><div class="unfold" style="display:none;"><i>{{forloop.counter}}</i><div class="border f-cb"></div></div></li>                                    
                                     
                                {% endfor %}
                        </ul>
                    <a class="more" href="/books/goto_category/{{ type_book.1.1.type_id }}/create_time"><i></i>查看更多</a>
                </div> 
        </div>
    </div>
{% endfor %}

    <script>
        function delone(id){
            if(window.confirm('是否确认删除？')){
                window.location.href = '/books/delete/' + id;
            }
        }
        function updateOne(id){
            window.location.href = '/books/goupdate/'+ id
        }
        function detail(id){
            window.location.href = '/books/'+ id
        }
        function collect(id){
            window.location.href = '/collects/collect_add/'+ id
        }
    </script>
</body>
</html>