{% load static %}	
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>排行榜-悦读.书友</title> 
    <!--取消下划线-->
    <style type="text/css">a {text-decoration: none}</style>  
    <!-- 最重要的css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/rank.min.css' %}" /> 
</head>
  <body>
   <!--引用base界面-->
   {% include "base.html" %}

    <div class="h15-blank"></div>
   <!-- <divs class="rank_wrap clearfix">  -->
    <div class="rank_menu"> 
      <!-- 对应旁边的人气榜单 -->
      <!-- borderE6对应边框 -->
     <div class="borderE6 rank_side"> 
      <h3><a href="" class="rank_active">人气榜单</a></h3> 
      <!-- 对应榜单的那条下划线 -->
       <div class="borderB_e6"></div> 
      <h3>分类榜单</h3> 
      <p><a href="">科幻榜</a></p> 
      <p><a href="">悬疑榜</a></p> 
      <p><a href="">青春文学榜</a></p> 
      <p><a href="">严肃文学榜</a></p> 
      <p><a href="">历史架空榜</a></p> 
      <p><a href="">哲学榜</a></p> 
      <p><a href="">恐怖榜</a></p> 
      <p><a href="">散文榜</a></p> 
      <p><a href="">诗歌榜</a></p> 
     </div> 
    </div>
    <div class="rank_main"> 
     <div class="rank_banner"> 
      <div class="rank_i_title_name">
      </div> 
     </div> 
     <div class="rank_i_lists"> 
      <!--月票榜-->

      <div class="rank_i_p_list"> 
       <div class="rank_i_p_tit">
        最新榜
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li1 clearfix"> 
        <div class="rank_i_num fl">
        1
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="/books/{{ new_list.0.book_id }}" target="_blank" class="rank_i_l_a_book">{{new_list.0.title}}</a> 
         <a href="" target="_blank" class="rank_i_l_a_author">{{new_list.0.author}}</a> 
         <a href="" target="_blank" class="rank_i_l_a_category">{{new_list.0.tag}}</a> 
         <div class="rank_i_l_font">
         </div> 
        </div> 
  
        <div class="rank_i_bcount fr"> 
         <a href="/books/{{ collect_list.0.book_id }}" target="_blank"><img src="/static/{{new_list.0.image_path}}" alt="{{new_list.0.title}}" /></a> 
        </div> 
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li2 clearfix"> 
        <div class="rank_i_num fl">
            2
         
        </div>        
        <div class="rank_i_bname fl"> 
         <a href="/books/{{ new_list.1.book_id }}" target="_blank">{{new_list.1.title}}</a> 
        </div> 
        <div class="rank_i_bcount fr">

        </div>
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li3 clearfix"> 
        <div class="rank_i_num fl">
         3
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="/books/{{ new_list.2.book_id }}" target="_blank">{{new_list.2.title}}</a> 
        </div> 
        <div class="rank_i_bcount fr">
        </div> 
       </div>
       {% for book in nnn_new_list %}
       <div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix"> 
        <div class="rank_i_num fl">
         {{book.0}}
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="/books/{{ book.1.book_id }}" target="_blank">{{book.1.title}}</a> 
        </div> 
        <div class="rank_i_bcount fr">
        </div> 
       </div>
       {% endfor %}
       <!-- <div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix"> 
        <div class="rank_i_num fl">
         5
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="" target="_blank">一剑独尊</a> 
        </div> 
        <div class="rank_i_bcount fr">
         4592
        </div> 
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix"> 
        <div class="rank_i_num fl">
         6
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="" target="_blank">碧海风云之谋定天下</a> 
        </div> 
        <div class="rank_i_bcount fr">
         4123
        </div> 
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix"> 
        <div class="rank_i_num fl">
         7
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="" target="_blank">概率之外</a> 
        </div> 
        <div class="rank_i_bcount fr">
         3381
        </div> 
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix"> 
        <div class="rank_i_num fl">
         8
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="" target="_blank">轮回一剑</a> 
        </div> 
        <div class="rank_i_bcount fr">
         3201
        </div> 
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix"> 
        <div class="rank_i_num fl">
         9
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="" target="_blank">最强狂兵</a> 
        </div> 
        <div class="rank_i_bcount fr">
         3133
        </div> 
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix"> 
        <div class="rank_i_num fl">
         10
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="" target="_blank">剑骨</a> 
        </div> 
        <div class="rank_i_bcount fr">
         2706
        </div> 
       </div>  -->
       <div class="rank_i_more"> 
        <a href="" class="rank_i_more_a" target="_blank">更多</a> 

       </div> 
      </div> 
      <!--24小时畅销榜--> 
       <div class="rank_i_p_list"> 
       <div class="rank_i_p_tit">
        好评榜
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li1 clearfix"> 
        <div class="rank_i_num fl">
        1
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="/books/{{ collect_list.0.book_id }}" target="_blank" class="rank_i_l_a_book">{{collect_list.0.title}}</a> 
         <a href="" target="_blank" class="rank_i_l_a_author">{{collect_list.0.author}}</a> 
         <a href="" target="_blank" class="rank_i_l_a_category">{{collect_list.0.tag}}</a> 
         <div class="rank_i_l_font">
         </div> 
        </div> 
  
        <div class="rank_i_bcount fr"> 
         <a href="/books/{{ collect_list.0.book_id }}" target="_blank"><img src="/static/{{collect_list.0.image_path}}" alt="{{collect_list.0.title}}" /></a> 
        </div> 
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li2 clearfix"> 
        <div class="rank_i_num fl">
            2
         
        </div>        
        <div class="rank_i_bname fl"> 
         <a href="/books/{{ collect_list.1.book_id }}" target="_blank">{{collect_list.1.title}}</a> 
        </div> 
        <div class="rank_i_bcount fr">

        </div>
       </div>
       <div class="borderB_c_dsh rank_i_li rank_i_li3 clearfix"> 
        <div class="rank_i_num fl">
         3
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="/books/{{ collect_list.2.book_id }}" target="_blank">{{collect_list.2.title}}</a> 
        </div> 
        <div class="rank_i_bcount fr">
        </div> 
       </div>
       {% for book in ccc_collect_list %}
       <div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix"> 
        <div class="rank_i_num fl">
         {{book.0}}
        </div> 
        <div class="rank_i_bname fl"> 
         <a href="/books/{{ book.1.book_id }}" target="_blank">{{book.1.title}}</a> 
        </div> 
        <div class="rank_i_bcount fr">
        </div> 
       </div>
       {% endfor %}
       <div class="rank_i_more"> 
        <a href="" class="rank_i_more_a" target="_blank">更多</a> 
       </div> 
      </div> 
      <!--新书榜--> 
      <div class="rank_i_p_list"> 
            <div class="rank_i_p_tit">
             流行榜
            </div>
            <div class="borderB_c_dsh rank_i_li rank_i_li1 clearfix"> 
             <div class="rank_i_num fl">
             1
             </div> 
             <div class="rank_i_bname fl"> 
              <a href="/books/{{ view_list.0.book_id }}" target="_blank" class="rank_i_l_a_book">{{view_list.0.title}}</a> 
              <a href="" target="_blank" class="rank_i_l_a_author">{{view_list.0.author}}</a> 
              <a href="" target="_blank" class="rank_i_l_a_category">{{view_list.0.tag}}</a> 
              <div class="rank_i_l_font">
              </div> 
             </div> 
       
             <div class="rank_i_bcount fr"> 
              <a href="/books/{{ collect_list.0.book_id }}" target="_blank"><img src="/static/{{view_list.0.image_path}}" alt="{{view_list.0.title}}" /></a> 
             </div> 
            </div>
            <div class="borderB_c_dsh rank_i_li rank_i_li2 clearfix"> 
             <div class="rank_i_num fl">
                 2
              
             </div>        
             <div class="rank_i_bname fl"> 
              <a href="/books/{{ view_list.1.book_id }}" target="_blank">{{view_list.1.title}}</a> 
             </div> 
             <div class="rank_i_bcount fr">
     
             </div>
            </div>
            <div class="borderB_c_dsh rank_i_li rank_i_li3 clearfix"> 
             <div class="rank_i_num fl">
              3
             </div> 
             <div class="rank_i_bname fl"> 
              <a href="/books/{{ view_list.2.book_id }}" target="_blank">{{view_list.2.title}}</a> 
             </div> 
             <div class="rank_i_bcount fr">
             </div> 
            </div>
            {% for book in vvv_view_list %}
            <div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix"> 
             <div class="rank_i_num fl">
              {{book.0}}
             </div> 
             <div class="rank_i_bname fl"> 
              <a href="/books/{{ book.1.book_id }}" target="_blank">{{book.1.title}}</a> 
             </div> 
             <div class="rank_i_bcount fr">
             </div> 
            </div>
            {% endfor %}
       <div class="rank_i_more"> 
        <a href="" class="rank_i_more_a" target="">更多</a> 
       </div> 
      </div> 
     </div>
    </div> 
   <!-- </div>  -->
  </div> 
</body>
</html>