#search.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>
<body>
    {% if query %}
    搜索结果如下：
    <div >
        {% for result in page.object_list %}
        <p>                    
            <button class="detail" onclick="detail('{{ result.object.book_id }}');">详情</button>
        </p>
        <p>                    
            <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>                
        </p>  
        <p>                    
            <a href="{{ result.object.get_absolute_url }}">{{ result.object.author }}</a>                
        </p> 
        <p>                    
            <a href="{{ result.object.get_absolute_url }}">{{ result.object.description }}</a>                
        </p>           
        {% empty %}                
        <p>No results found.</p>            
        {% endfor %}

        {% endif %}
        <div class="pagenation">
            {% if page.has_previous %}
                <a href="/search/?q={{ query }}&page={{ page.previous_page_number }}"><上一页</a>
            {% endif %}
            {% for pindex in paginator.page_range %}
                {% if pindex == page.number %}
                    <a href="/search/?q={{ query }}&page={{ pindex }}" class="active">{{ pindex }}</a>
                {% else %}
                    <a href="/search/?q={{ query }}&page={{ pindex }}">{{ pindex }}</a>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
                <a href="/search/?q={{ query }}&page={{ page.next_page_number }}">下一页></a>
            {% endif %}
        </div>
    </div>
<script>
function detail(id){
    window.location.href = '/books/'+ id
}
</script>
</body>
</html>