#search.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>
<body>
    {% if query %}
    搜索结果如下：
    <div class="limit-free-list cf book-detail-wrap center1020">
        <div class="limit-book-list fl" data-l1="5">
                <div id="limit-list" class="inner-wrap">
                        <div class="book-img-text">
                            <ul>
                                {% for i in item %}
                                <li>
                                    <div class="book-img-box">
                                        <!-- <a href="{% url 'book' i.id %}?name={{ i.title }}">{{ i.title }}</a> -->
                                        <a href="#"><img src="{{ i.cover }}"></a>
                                    </div>
                                    <div class="book-mid-info">
                                        <!-- <h4><a href="{% url 'book' i.id %}?name={{ i.title }}">{{ i.title }}</a></h4> -->
                                        <h4><a href="#">{{ i.title }}</a></h4>
                                        <p class="author"><img src="{% static 'image/author.png'%}">
                                            <img src="{% static 'image/author.png' %}">
                                            <a class="default name">{{ i.author }}</a><em>|</em>
                                            <a href="#">{{ i.class }}</a><em>|</em>{{ i.view_num }}
                                        </p>
                                        <p class="intro">{{ i.shortIntro }}</p>
                                    </div>
                                    <div class="book-right-info">
                                        <p class="btn">
                                            <a class="red-btn" href="#" style="background-color: rgb(214, 94, 100);border-color: rgb(214, 94, 100);color:white">书籍详情</a>
                                            <a class="border-btn add-book" href="#" style="border-color: rgb(214, 94, 100);color: rgb(214, 94, 100)">加入书架</a>
                                        </p>
                                    </div>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<script>
function detail(id){
    window.location.href = '/books/'+ id
}
</script>
</body>
</html>