{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
<!--取消下划线-->
<style type="text/css">a {text-decoration: none}</style>  
<script  src="{% static 'js/script111.js' %}"></script>

<!--logo和搜索-->
<a href="/books/index/"><img class="img-align1" src="{% static 'image/logo.png' %}"></a>
<div class="searchForm">
<form action="/search/">
    <input type="text" name="q" placeholder="搜索">
    <button type="submit"></button>
</form>
</div>

<!--登录 登出 书架-->
<div class="in">
        {% if user %}
        <a href="/users/my_collects/"><img src="{% static 'image/shujia5.jpg' %}" width="30px" height="50px"></a>
        {% else %}
        <script>
            function go2login(){
                if(window.confirm('前往书架需要登录，是否前往登录？')){
                    window.location.href = '/users/login/';
                }
            }
        </script>
        <a onclick="go2login()"><img src="{% static 'image/shujia5.jpg' %}"  width="30px"  height="50px"></a>
        {% endif %}
        &nbsp; &nbsp; &nbsp;

        {% if user %}
        <a href="/users/home/"><img src="{% static user.image %}"  width="30px"  height="50px"></a>
        {% else %}
        <a href="/users/login/"><img src="{% static 'image/book.png' %}"  width="30px" ></a>
        {% endif %}
</div>

<!--首页 分类-->
<br><br>
    <div class="nav">
        <a href="/books/index/" class="nav-item"  active-color="orange">首页</a> 
        <a href="/books/goto_category/1/create_time" target="_blanket" class="nav-item"  active-color="green">仙侠玄幻</a>
        <a href="/books/goto_category/2/create_time" target="_blanket" class="nav-item"  active-color="blue">历史纵横</a>
        <a href="/books/goto_category/3/create_time" target="_blanket" class="nav-item"  active-color="red">都市言情</a> 
        <a href="/books/paihang/" class="nav-item"  active-color="rebeccapurple">排行榜</a>
        <span class="nav-indicator"></span>
    </div>