{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/blog.css"> -->
    <title>Blog</title>
</head>
<body>
    <div class="top_bar">
        <div class="right_top">
            <div class="display_img">
                <img src="{% static src %}" width="100px">
            </div>
            <p>
                hello, {{ account }}
            </p>
            <div class="logout">
                <a href="/users/logout/">登出</a>
            </div>
        </div>
    </div>
    <div class="blog_body">
        <h1>我的博客BLOG</h1>
        <p>
            正文：hello world!
        </p>
        <ol>
            <li>
                <a href='/books/index/'>主页</a>
            </li>
            <li>
                <a href='/users/home/'>用户中心</a>
            </li>
        </ol>
        
    </div>
</body>
<style>
.right_top {
    position: fixed;
    top: 5px;
    right: 5px;
}
.blog_body {
    width: 50%;
    
    margin: 10px auto;
}
h1 {
    text-align: center;
}
</style>
</html>