<!DOCTYPE html>
<html lang="zn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<frameset rows="20%,80%">
    <frame src="navi_bar/" name=navi_bar noresize="noresize" frameborder="0" scrolling="no">
    <frameset cols="20%,80%">
        <frame src="left/" name="left" noresize="noresize" frameborder="0" scrolling="yes">
        <frame src="right/" name="right" noresize="noresize" frameborder="0" scrolling="no">
    </frameset>
</frameset>

</html>