{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="list-group" style="float: left; width: 200px; margin-left: 330px; margin-right: 20px; height: 600px; margin-top: 120px;">
        <a href="#" target="right" class="list-group-item list-group-item-action active" style="border: none; background-color: rgb(214,94,100);">用户中心</a>
        <a href="/users/edit_info/" target="right" class="list-group-item list-group-item-action">修改个人信息</a>
        <a href="/users/my_collects/" target="right" class="list-group-item list-group-item-action">我的喜欢</a>
        <a href="#" target="right" class="list-group-item list-group-item-action">上传功能</a>
    </div>

</body>
<style>
/* body {
    width:20%;
    height:80%;
    position: fixed;
    left:0;
    top:10%;
} */
</style>
</html>