<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
		{% load static %}	
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<div class="info">
		<h2>基本信息</h2>
		<div class="topbar">
			<img class="bgi" src="{% static 'image/home-bg.jpg' %}" alt="">
			<ul>
				<button type="button" class="btn btn-primary">用户名:</button>
				<button type="button" class="btn btn-secondary">Suacrbah</button>
				<button type="button" class="btn btn-success">书友号:</button>
				<button type="button" class="btn btn-danger">154526845</button>
				<button type="button" class="btn btn-warning">下载量:</button>
				<button type="button" class="btn btn-info">152k</button>
				<button type="button" class="btn btn-light">阅读时长:</button>
				<button type="button" class="btn btn-dark">324h</button>
			</ul>
		</div>
	</div>

	<div class="read">
		<h2>最近浏览</h2>
		<ul>
			<li><div>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_img" title="如何有效阅读一本书"><img src="{% static 'image/c.jpeg' %}" alt="如何有效阅读一本书"></a>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_txt" title="如何有效阅读一本书">如何有效阅读一本书</a>
				<p>【日】奥野宣之,张晶晶</p>
				</div>
			</li>
			<li><div>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_img" title="人类简史：从动物到上帝"><img src="{% static 'image/c.jpeg' %}" alt="人类简史：从动物到上帝"></a>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_txt" title="人类简史：从动物到上帝">人类简史：从动物到上帝</a>
				<p>【以】尤瓦尔·赫拉利</p>
			    </div>
			</li>
			<li>
				<div>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_img" title="激荡十年，水大鱼大：中国企业2008—2018"><img src="{% static 'image/c.jpeg' %}" alt="激荡十年，水大鱼大：中国企业2008—2018"></a>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_txt" title="激荡十年，水大鱼大：中国企业2008—2018">激荡十年，水大鱼大：中国企业2008—2018</a>
				 <p>吴晓波</p>
				</div>
			</li>
			<li>
				<div>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_img" title="美国怎么了"><img src="{% static 'image/c.jpeg' %}" alt="美国怎么了"></a>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_txt" title="美国怎么了">美国怎么了</a>
			    </div>
			</li> 
			<li>
				<div>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_img" title="美国怎么了"><img src="{% static 'image/c.jpeg' %}" alt="美国怎么了"></a>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_txt" title="美国怎么了">美国怎么了</a>
				<p>王瑞恩</p>
			    </div>
			</li>                      
		</ul>
	</div>
	<div id="uploading" class="upload">
		<h2>最近上传</h2>
		<ul>
			<li>
				<div>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_img" title="如何有效阅读一本书"><img src="{% static 'image/c.jpeg' %}" alt="如何有效阅读一本书"></a>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_txt" title="如何有效阅读一本书">如何有效阅读一本书</a>
				<p>【日】奥野宣之,张晶晶</p>
				</div>
			</li>
			<li>
				<div>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_img" title="人类简史：从动物到上帝"><img src="{% static 'image/c.jpeg' %}" alt="人类简史：从动物到上帝"></a>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_txt" title="人类简史：从动物到上帝">人类简史：从动物到上帝</a>
				<p>【以】尤瓦尔·赫拉利</p>
				</div>
			</li>
			<li>
				<div>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_img" title="激荡十年，水大鱼大：中国企业2008—2018"><img src="{% static 'image/c.jpeg' %}"  alt="激荡十年，水大鱼大：中国企业2008—2018"></a>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_txt" title="激荡十年，水大鱼大：中国企业2008—2018">激荡十年，水大鱼大：中国企业2008—2018</a>
				 <p>吴晓波</p>
				 </div>
			</li>
			<li>
				<div>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_img" title="美国怎么了"><img src="{% static 'image/c.jpeg' %}"  alt="美国怎么了"></a>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_txt" title="美国怎么了">美国怎么了</a>
				<p>王瑞恩</p>
				</div>
			</li> 
			<li>
				<div>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_img" title="美国怎么了"><img src="{% static 'image/c.jpeg' %}" alt="美国怎么了"></a>
				<a href="#" target="_blank" data-model="jptu" data-opration="jpts_txt" title="美国怎么了">美国怎么了</a>
				<p>王瑞恩</p>
				</div>
			</li>          
		</ul>
	</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>
</html>