{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>success</title>
</head>
<body>
    <div class="top_bar">
        <div class="right_top">
            <div class="display_img">
                <img src="{% static src %}" width="100px">
            </div>
            <p>
                hello, {{ account }}
            </p>
        </div>
    </div>
    <a href="/users/login/">去登陆</a>
</body>
<style>
.right_top {
    position: fixed;
    top: 5px;
    right: 5px;
}
</style>
</html>